-@ var event: be.mira.jongeren.administration.domain.Event

h1 #{event.getDatum} #{event.getEventType}

form(method="POST" action="/partakins/add")
    //
    //<h:outputLabel>Voornaam</h:outputLabel>
    //<h:inputText value="#{addDeelnameBean.person.voornaam}"/>
    //
    //<h:outputLabel>Achternaam</h:outputLabel>
    //<h:inputText value="#{addDeelnameBean.person.achternaam}"/>
    //
    //<h:outputLabel>Postcode</h:outputLabel>
    //<h:inputText value="#{addDeelnameBean.city.value}"/>
    //
    //<h:outputLabel>Type</h:outputLabel>
    //<h:selectOneMenu value="#{addDeelnameBean.partakingType}">
    //    <f:selectItems value="#{deelnameTypeOptions.options}" />
    //</h:selectOneMenu>
    //input(type="submit") Opslaan

