extends ../layouts/default

block content

    a.back(href="/persons/") Terug
    a.add.pure-button(href="/persons/#{person.id}/edit") Edit

    h1
        | #{person.voornaam} #{person.achternaam}
        i(class="gender #{person.gender.title}")

    p #{person.city.postcode} #{person.city.name}

    if not empty(person.birthDate)
        p #{pippo.formatTime(dateHelper.asDate(person.getBirthDate()), "dd MMMM yyyy")}

    h1 Deelnames
    ul
      each event in events
          li
            a(href="/events/#{event.getId()}") #{pippo.formatTime(dateHelper.asDate(event.getDatum()), "dd MMMM yyyy")}