//-@ var person: be.mira.jongeren.administration.domain.Person
//
// <f:viewParam name="id" value="#{personDetailsBean.id}"/>
// <f:viewAction action="#{personDetailsBean.onParametersLoaded()}" />
extends ../layouts/default

block content
    label Voornaam
    p #{person.voornaam}
    
    label Achternaam
    p #{person.achternaam}
    
    label Geslacht
    p #{person.gender}
    
    label Stad
    p #{person.city.name}
    
    label Postcodes
    p #{person.city.postcode}
    
    a(href="/persons/") Back
