//-@ var person: be.mira.jongeren.administration.domain.Person
//
// <f:viewParam name="id" value="#{personDetailsBean.id}"/>
// <f:viewAction action="#{personDetailsBean.onParametersLoaded()}" />
extends ../layouts/default

block content

    h1
        | #{person.voornaam} #{person.achternaam}
        i(class="gender #{person.gender.title}")
    table.pure-table
        tbody
            tr
                td Stad
                td #{person.city.postcode} #{person.city.name}

    a(href="/persons/") Back
    a(href="/persons/#{person.id}/edit") Edit
