extends ../layouts/default

block content
    form.pure-form.pure-form-aligned(action="/persons/", method="POST")
        .pure-control-group
            label Voornaam
            input(type="text" name="voornaam")

        .pure-control-group
            label Achternaam
            input(type="text" name="achternaam")

        .pure-control-group
            label Geslacht
            select(name="gender")
                each gender in genderOptions
                    option(value="#{gender.toString()}") #{gender.toString()}

        .pure-control-group
            label Geboortedatum
            input(type="date" name="birthDate")

        .pure-control-group
            label Postcode
            input(type="text" name="postcode")


            //select
            //- for( city <- cities)
            //    option(value="#{city.getId}") #{city.getPostcode} - #{city.getName}

        //<p:autoComplete id="city" dropdown="true"
        //                value="#{personAddBean.person.city}"
        //                var="city"
        //                itemLabel="#{city.postcode}"
        //                completeMethod="#{cityBean.searchCity}" />
        //
        button.pure-button.pure-button.pure-button-primary Opslaan
