extends ../layouts/default

block content
    .pure-menu.pure-menu-horizontal
        ul.pure-menu-list
        each year in availableYears
            if year == currentYear
                li.pure-menu-item.pure-menu-selected
                    a.pure-menu-link(href="/events?year=#{year}") #{year}
            else
                li.pure-menu-item
                    a.pure-menu-link(href="/events?year=#{year}") #{year}


    h1 #{currentYear}
    each val,key in categories
        h2 #{key}

        ul
        each event in val
          li
            a(href="/events/#{event.getId()}") #{pippo.formatTime(dateHelper.asDate(event.getDatum()), "dd MMMM yyyy")}
        else
          li Empty

    a.pure-button(href="/events/new") Toevoegen
