//-@ var event: be.mira.jongeren.administration.domain.Event

extends ../layouts/default

block content
    a(href="/events") back

    h1 #{event.datum} (#{event.eventType})

    table.pure-table
        thead
            tr
                th Voornaam
                th Achternaam
                th Type
        tbody
        each partaking in event.partakings
            tr
                td #{partaking.person.voornaam}
                td #{partaking.person.achternaam}
                td #{partaking.partakingType}

    a(href="/events/#{event.id}/partakings/new") Toevoegen
