extends ../layouts/default

block content
    a.back(href="/events") Terug

    h1 #{pippo.formatTime(dateHelper.asDate(event.getDatum()), "dd MMMM yyyy")} (#{pippo.i18n(event.eventType.toString())})

    h2 Deelnemers
        i(class="partaking-type participant")
    table.pure-table.pure-table-bordered.pure-table-striped
        thead
            tr
                th Voornaam
                th Achternaam

        tbody
        each partaking in event.getParticipants()
            tr
                td #{partaking.person.voornaam}
                td #{partaking.person.achternaam}

        else
            tr
                td Geen data
                td

    h2 Leiding
        i(class="partaking-type assistant")
    table.pure-table.pure-table-bordered.pure-table-striped
        thead
            tr
                th Voornaam
                th Achternaam
        tbody
        each partaking in event.getAssistants()
            tr
                td #{partaking.person.voornaam}
                td #{partaking.person.achternaam}
        else
            tr
                td Geen data
                td

    h2 Extern
        i(class="partaking-type external")
    table.pure-table.pure-table-bordered.pure-table-striped
        thead
            tr
                th Voornaam
                th Achternaam
        tbody
        each partaking in event.getExternal()
            tr
                td #{partaking.person.voornaam}
                td #{partaking.person.achternaam}
        else
            tr
                td Geen data
                td

    a.pure-button(href="/events/#{event.id}/partakings/new") Toevoegen
